<ion-header>
  <ion-toolbar>
    <ion-title>
      Tests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-card-subtitle>COPM</ion-card-subtitle>
      <ion-card-title>Canadian Occupational Performance Measure</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      COPM draagt bij aan een kwalitatief hoogwaardige, op betekenisvolle activiteiten gerichte interventie waarbij de cliënt centraal staat.
      De COPM is een op de individu gericht meetinstrument, ontworpen om door de cliënt zelf ervaren verandering in het dagelijks handelen in de loop van de tijd vast te stellen.
    </ion-card-content>
    <section>
      <ion-button color="primary" expand="block" style="font-weight: 900" href="/copm">Doe de Test
      </ion-button>
    </section>
  </ion-card>
</ion-content>
