<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center class="vertical-align-content ion-padding">
    <div class="ion-text-center">
        <ion-text color="primary">
            <h1>Welkom!</h1>
        </ion-text>
    </div>
</ion-content>

<ion-footer class="ion-padding">
    <section>
        <ion-button color="danger" expand="block" class="ion-margin-bottom" style="font-weight: 900" (click)="loginGoogle()">Login With Google
            <ion-icon slot="start" name="logo-google"></ion-icon>
        </ion-button>
    </section>
</ion-footer>
